.header {
    display: flex;
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #52656d;
    align-items: center;
    font-family: "megabyte", sans-serif;
}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 20px;
}

.header__logo__img {
    width: 54px;
    height: 54px;
}

.header__logo__title {
    color: #f1f7fb;
    font-size: 25px;
    margin-left: 10px;
}

.header__links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

.header__links li a {
    text-decoration: none;
    color: #f1f7fb;
    margin-right: 20px;
    transition: color 0.1s ease-in-out;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px; /* Añade espacio entre el emoji y el texto */
}

.header__links li a:hover {
    color: #ffab32;
}

.header__menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: #f1f7fb;
    width: 30px;
    height: 30px;
    margin: 0 20px 0 auto;
    display: none;
}

.header__menu__img {
    width: 100%;
    height: 100%;
}

/* --- MENÚ DESPLEGABLE (oculto por defecto) --- */
.header__menu-dropdown {
    display: block; /* Se controla desde React */
    position: absolute;
    top: 90px;
    right: 20px;
    background: #333;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.header__menu-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__menu-dropdown ul li {
    border-bottom: 1px solid #444;
}

.header__menu-dropdown ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #f1f7fb;
    transition: background 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px; /* Añade espacio entre el emoji y el texto */
}

.header__menu-dropdown ul li a:hover {
    background: #ffab32;
    color: #222;
}

@media (max-width: 1030px) {
    .header__links {
        display: none;
    }

    .header__menu {
        display: block;
    }
}
